<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <% var dir=process.cwd() %>
    <style>
      <%- include(dir + '/public/css/tailwind.min.css') %>
    </style>
</head>

<body>
  <div class="p-5 pt-0">
    <!-- Logo -->
    <div class="mb-1">
      <div class="flex items-center justify-center">
        <img src="data:image/png;base64,<%= logoString %>" alt="" class="w-52">
      </div>
      <p class="text-center text-sm">
        <%= branchAddress %>
      </p>
      <div class="flex items-center justify-center">
        <img src="<%= qrcode %>" alt="qrcode" class="w-44 block mt-0 pt-0" />
      </div>
      <p class="text-center text-xs">
        <span class="">
          Mã đơn:
        </span>
        <span class="">
          <%= referenceNumber %>
        </span>
      </p>
    </div>

    <!-- Invoive info -->
    <div class="flex flex-col gap-2">
      <p class="text-xs"><span class="font-bold">Thời gian:</span>
        <%= formatDate(createdAt, 'HH:mm:ss DD/MM/YYYY' ) %>
      </p>
      <p class="text-xs"> 
        <span class="font-bold">
          Bàn:
        </span>
        <span class="capitalize">
          <%= tableName %>
        </span>
      </p>
      <p class="text-xs"><span class="font-bold">
          Khách hàng:
        </span>
        <%= customer %>
      </p>
      <p class="text-xs">
        <span class="font-bold">
          Thu ngân:
        </span>
        <%= cashier %>
      </p>
    </div>

    <!-- Invoice items -->
     
    <table class="min-w-full table-auto border-collapse mt-4 text-sm">
      <thead>
        <tr class="bg-white-100 border-b border-black">
          <th class="py-2 text-left w-2/3">Món</th>
          <th class="py-2 text-left px-1">SL</th>
          <th class="py-2 text-left px-2">Đ.Giá</th>
          <th class="py-2 text-left px-2">K.Mãi(%) </th>
          <th class="py-2 text-left px-2">T.Tiền</th>
        </tr>
      </thead>
      <tbody>
        <% invoiceItems.forEach(function(item) { %>
          <tr class="hover:bg-gray-50 border-b border-black">
            <td class="py-2 w-2/3 text-xs">
              <%= item.productName %> <span class="uppercase">
                  (<%= item.size %>)
                </span>
            </td>
            <td class="px-1 py-2 text-xs">
              <%= item.quantity %>
            </td>
            <td class="py-2 px-2 text-xs">
              <%= formatCurrency(item.price) %>
            </td>
            <td class="py-2 px-2 text-center text-xs">
              <%= item.promotionValue %>
            </td>
            <td class="py-2 px-2 text-xs">
              <%= formatCurrency(item.total) %>
            </td>
          </tr>
          <% }); %>
            <tr class="border-t border-black">
              <td class="py-2 text-left">PPTT</td>
              <td class="py-2 font-bold text-right text-xs" colspan="4">
                <%= formatPaymentMethod(paymentMethod) %>
              </td>
            </tr>
            <tr class="border-t border-black">
              <td class="py-2 text-left">Tổng cộng</td>
              <td class="py-2 text-right" colspan="4">
                <%= formatCurrency(subtotalBeforeVoucher) %>
              </td>
            </tr>
            <tr class="border-t border-black">
              <td class="py-2 text-left">Giảm giá(%)</td>
              <td class="py-2 text-right" colspan="4">
                <%= voucherValue %>
              </td>
            </tr>
            <tr class="border-t border-black">
              <td class="py-2 text-left">Thành tiền</td>
              <td class="py-2 font-bold text-xl text-right" colspan="4">
                <%= formatCurrency(amount) %>
              </td>
            </tr>
      </tbody>
    </table>

    <!-- Invoice footer -->
    <p class="text-xs mt-2">
      Giá sản phẩm đã bao gồm VAT 10%. Vui lòng giữ lại hóa đơn, để
      xác thực đó là đơn hàng của bạn.
    </p>
  </div>
</body>

</html>